<ion-split-pane>
    <ion-menu contentId="content">
        <ion-header>
            <ion-toolbar class="not-border">

            </ion-toolbar>
        </ion-header>
        <ion-content color="principal">
            <ion-grid>
                <ion-row align="center">
                    <ion-thumbnail class="img-profile">
                        <img src="assets/img/placeholder-profile.png">
                    </ion-thumbnail>
                </ion-row>
            </ion-grid>
            <ion-list>
                <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                    <ion-item color="principal" (click)="goState(p.url)">
                        <ion-icon slot="start" [name]="p.icon"></ion-icon>
                        <ion-label>
                            {{p.title}}
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle auto-hide="false">
                    <ion-item color="principal" (click)="closeSession()">
                        <ion-icon slot="start" name="arrow-back"></ion-icon>
                        <ion-label>
                            Cerrar Sesión
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>
