<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Tickets Completados
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="refreshTickets($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <ion-item>
        <ion-label>Fecha Inicio</ion-label>
        <ion-datetime done-text="Aceptar" cancel-text="Cancelar" [value]="beginDate" max="{{endDate}}" displayFormat="DD-MM-YY" (ionChange)="setBeginDate($event)" placeholder="Seleccione Fecha de inicio"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label>Fecha Fin</ion-label>
        <ion-datetime done-text="Aceptar" cancel-text="Cancelar" [value]="endDate" min="{{beginDate}}" max="{{today.toISOString()}}" displayFormat="DD-MM-YY" (ionChange)="setEndDate($event)" placeholder="Seleccione Fecha de Fin"></ion-datetime>
    </ion-item>

    <ion-list *ngIf="completed.length > 0">
        <ion-item *ngFor="let ticketData of completed ;let i=index" (click)="showTicket(ticketData)">
            <ion-label>
                <h2>#{{ticketData.ticket.id_tickets}} ({{ ticketData.ticket.client ? ticketData.ticket.client.name : 'Sin nombre'}})</h2>
                <p>{{ticketData.ticket.description}}</p>
                <p>{{ticketData.ticket.client ? ticketData.ticket.client.phone : 'Sin Numero telefonico'}}</p>
                <p>{{(ticketData.ticket.client && ticketData.ticket.client.outdoor_number) ? '#' + ticketData.ticket.client.outdoor_number + ' entre ' : null}}
                    {{(ticketData.ticket.client && ticketData.ticket.client.between_streets && ticketData.ticket.client.between_streets != undefined) ? ticketData.ticket.client.between_streets : null}} </p>
                <p>{{ ticketData.ticket.client ? ticketData.ticket.client.address : null }}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <h2 *ngIf="completed.length <= 0">No cuenta con tickets completados por el momento</h2>

</ion-content>
