<ion-header>
    <ion-toolbar>
        <ion-title>Ticket Completado</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()" color="#FFF">
                <ion-icon class="icon-white" ios="ios-close" md="md-close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngIf="assignation && assignation.ticket">
        <ion-card-header>
            <ion-card-subtitle align="center">Datos del Ticket</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <p>Descripcion: <strong>{{assignation.ticket.description}}</strong></p>
            <p>Tipo:
                <strong>
                    <span [ngSwitch]="assignation.ticket.type">
                    <span *ngSwitchCase="'installation'">Instalación</span>
                    <span *ngSwitchCase="'service_call'">Llamada de soporte</span>
                    <span *ngSwitchCase="'filter_change'">Cambio de filtro</span>
                    <span *ngSwitchCase="'removal'">Desinstalación</span>
                    <span *ngSwitchCase="'change'">Cambio de dirección del cliente</span>
                </span>
                </strong>
            </p>
            <p>Costo estimado: <strong>{{ assignation.ticket.estimated_service_fee | currency:'$':2}}</strong></p>
            <p>Razones: <strong>{{assignation.ticket.estimated_service_fee_reasons}}</strong></p>
            <p>Código de Error: <strong>
                {{assignation.ticket.error_code.category}} - {{assignation.ticket.error_code.name}}
                - {{assignation.ticket.error_code.code}}
            </strong></p>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="assignation && assignation.ticket && assignation.ticket.client">
        <ion-card-header>
            <ion-card-subtitle align="center">Datos del Cliente</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <p>Nombre: <strong>{{assignation.ticket.client.name}}</strong></p>
            <p>Fecha de Alta:
                <strong>{{assignation.ticket.client.created_at | date: 'EEEE, MMMM d, y, HH:mm:ss'}}</strong>
            </p>
            <p>Email: <strong>{{assignation.ticket.client.email}}</strong></p>
            <p>Teléfono: <strong>{{assignation.ticket.client.phone}}</strong></p>
            <p>Dirección: <strong>{{assignation.ticket.client.address}}</strong></p>
            <p>Entre: <strong>{{assignation.ticket.client.between_streets}}</strong></p>
            <p>Colonia: <strong>{{assignation.ticket.client.colony}}</strong></p>
            <p>Código Postal: <strong>{{assignation.ticket.client.postal_code}}</strong></p>
            <p>Estado: <strong>{{assignation.ticket.client.state}}</strong></p>
            <p>Status: <strong>
                <span [ngSwitch]="assignation.ticket.client.status">
                    <span class="label label-default" *ngSwitchCase="'standby'">Pendiente</span>
                    <span class="label label-warning" *ngSwitchCase="'invalid'">Invalido</span>
                    <span class="label label-info" *ngSwitchCase="'accepted'">Aceptado</span>
                    <span class="label label-danger" *ngSwitchCase="'canceled'">Cancelado</span>
                    <span class="label label-danger" *ngSwitchCase="'rejected'">Rechazado</span>
                </span>
            </strong></p>
            <p>Nivel: <strong> {{assignation.ticket.client.level}} </strong></p>
            <p>Número de serie:
                <span [ngSwitch]="assignation.ticket.client.serial_number">
                <span *ngSwitchCase="true"><b class="text-danger">No se ha asignado ningún número de serie</b></span>
                <span *ngSwitchCase="false">{{assignation.ticket.client.serial_number}}</span>
            </span>
            </p>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="assignation && assignation.completion">
        <ion-card-header>
            <ion-card-subtitle align="center">Datos de finalización</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p>Número de Serie: <strong>{{assignation.completion.serial_number}}</strong></p>
            <p>Persona que recibio en el domicilio: <strong>{{assignation.completion.recipient}}</strong></p>
            <p>Acciones realizadas: <strong>{{assignation.completion.work_description}}</strong></p>
            <p>Código de Error: <strong>{{assignation.completion.error_code.name}}
                ({{assignation.completion.error_code.code}})</strong></p>
            <p>TDS entrada: <strong>{{assignation.completion.tds_out}}</strong></p>
            <p>TDS Salida: <strong>{{assignation.completion.tds_in}}</strong></p>
            <p>Cargos Extras: <strong>{{assignation.completion.extra_charges}}</strong></p>
            <p *ngIf="assignation.completion.extra_charges">Razones Cargo Extra: <strong>{{assignation.completion.extra_charges_reasons}}</strong></p>
        </ion-card-content>
    </ion-card>

</ion-content>
