<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Log
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h2>Errores</h2>
    <ion-list *ngIf="errors.length > 0">
        <ion-item *ngFor="let error of errors;let i=index" (click)="showError(error)">
            <ion-label>
                <h2>{{error.code}}</h2>
                <p>{{error.url}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>